html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: auto;
  width: fit-content;
}
  
.title-description {
  margin: auto;
  width: fit-content;
}